#!/bin/sh

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest --no-header --no-summary -v"
dev = "watchmedo auto-restart --patterns=*.py --recursive -- python -m app.main"
start = "python -m app.main"
format = "black . && isort ."
lint = "black --check . && isort --check-only ."

[packages]
pyparsing = "~=3.0"
lark = "~=1.1"
bitstruct = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
watchdog = "*"

[requires]
python_version = "3"
